- provide(:title, 'Home')
%h1 Virool Small Task
%ol
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#one-table"} country | count(amount)
    %table{id: "one-table", class: "table collapse in"}
      %thead
        %tr
          %th country
          %th count(amount)
      %tbody
        - @countries_count_amount.each do |key, value|
          %tr
            %td #{key}
            %td #{value}
        
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#two-table"} state | count(amount)
    %table{id: "two-table", class: "table collapse in"}
      %thead
        %tr
          %th state
          %th count(amount)
      %tbody
        - @states_count_amount.each do |key, value|
          %tr
            %td #{key}
            %td #{value}
      
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#three-table"} site_id | count
    %table{id: "three-table", class: "table collapse in"}
      %thead
        %tr
          %th site_id
          %th count
      %tbody
        = render partial: "sites/site_ids_count", collection: @site_ids_count
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#four-table"} platform | count
    %table{id: "four-table", class: "table collapse in"}
      %thead
        %tr
          %th platform
          %th count
      %tbody
        = render partial: "sites/platforms_count", collection: @platforms_count
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#five-table"} country | platform | amount
    %table{id: "five-table", class: "table collapse in"}
      %thead
        %tr
          %th country
          %th platform
          %th amount
      %tbody
        = render partial: "sites/country_platform_amount", collection: @country_platform_amount
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#six-table"} country | site_id | amount
    %table{id: "six-table", class: "table collapse in"}
      %thead
        %tr
          %th country
          %th site_id
          %th amount
      %tbody
        = render partial: "sites/country_site_id_amount", collection: @country_site_id_amount
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#seven-table"} country | state | amount
    %table{id: "seven-table", class: "table collapse in"}
      %thead
        %tr
          %th country
          %th state
          %th amount
      %tbody
        = render partial: "sites/country_state_amount", collection: @country_state_amount
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#eight-table"} country | date | amount
    %table{id: "eight-table", class: "table collapse in"}
      %thead
        %tr
          %th country
          %th date
          %th amount
      %tbody
        = render partial: "sites/country_date_amount", collection: @country_date_amount
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#nine-table"} date | platform | amount
    %table{id: "nine-table", class: "table collapse in"}
      %thead
        %tr
          %th date
          %th platform
          %th amount
      %tbody
        = render partial: "sites/date_platform_amount", collection: @date_platform_amount
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#ten-table"} date | state | amount
    %table{id: "ten-table", class: "table collapse in"}
      %thead
        %tr
          %th date
          %th state
          %th amount
      %tbody
        = render partial: "sites/date_state_amount", collection: @date_state_amount
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#eleven-table"} date | site_id | amount
    %table{id: "eleven-table", class: "table collapse in"}
      %thead
        %tr
          %th date
          %th site_id
          %th amount
      %tbody 
        = render partial: "sites/date_site_id_amount", collection: @date_site_id_amount
  %li
    %a{class: "table-toggle", "data-toggle" => "collapse", "data-target" => "#twelve-table"} date | country
    %table{id: "twelve-table", class: "table collapse in"}
      %thead
        %tr
          %th date
          %th country
      %tbody          
        = render partial: "sites/date_country", collection: @date_country